body{
	//background: url("../img/cb-bg.png") no-repeat fixed center;
	//background-size: 100% 100%;
	background: #212121 !Important;
	color:white !Important;
}
.title{
	text-align: center;
	margin-bottom: 60px;
}
.title h1{
	font-size: 55px;
}
.order-row{
	border: 1px solid white;
	height: 100px;
	font-size: 40px;
}
.overdue{
	background: red;
}
.on-time{
	background: #333333;
}
.order-cell{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}