.navbar-brand{
  position: absolute;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 767px){
  .navbar-brand{
    position: static;
    top: 0px;
    left: 0px;
  }
} 

.page-header>img{
  height:auto !Important;
}