.badge:hover {
  cursor: pointer;
}

th,
td {
  padding: 10px;
}

#dl,
dc {
  height: 430px;
}

.panel-body {
  height: 382px;
}

#scroll {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.packet-table td,
th {
  border: 1px solid black;
}

.packet-table {
  margin: auto;
}