 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

 #map {
   height: 100% !important; 
 }

 /* Optional: Makes the sample page fill the window. */

 html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
 }

 #pac-input {
   background-color: #fff;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   margin-left: 12px;
   padding: 0 11px 0 13px;
   text-overflow: ellipsis;
   width: 400px;
   height: 45px;
   opacity: 0.9;
 }

 #pac-input:focus {
   border-color: #4d90fe;
 }

 .pac-controls {
   display: inline-block;
   padding: 5px 11px;
 }

 .pac-controls label {
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
 }

 #top {
   width: 40%; 
   text-align: center;
   z-index: 1;
   position: fixed;
   margin-right: 30%;
   margin-left: 30%;
 }

 #pac-input {
   //width:100%;
 }

 #results {
   background-color: #ffffff;
   width: 40%;
   max-height: 50%;
   overflow: scroll;
   margin-left: 60%;
   opacity: 0.9;
   z-index: 2;
 }

 #results p {
   font-size: 13px;
 }

 #results p:hover {
   background-color: #E3E3E6;
   cursor: pointer;
 }

 #results a {
   text-decoration: none;
   color: black;
 }

 h5 {
   color: red;
 }

 h4 {
   color: blue;
 }

 #main {
   width: 100%;
 }

 /* This only works with JavaScript, 
if it's not present, don't show loader */

 .no-js #loader {
   display: none;
 }

 .js #loader {
   display: block;
   position: absolute;
   left: 100px;
   top: 0;
 }

 .se-pre-con {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999; //background: url(../img/loader-128x/Preloader_7.gif) center no-repeat #fff;
   background: url(../img/loaders/loading-circle.gif) center no-repeat rgba(250, 250, 250, 0.5);
 }

 #loading-bar {
   text-align: center;
   width: 100%;
   margin: auto;
   z-index: 99;
   position: absolute; //left: 113px;
   top: 0px;
 }