/* DEFAULTS----------------------------------------------------------*/

body
{
    background: #ffffff;
    /*font-size: .80em;*/
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: bold;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #34557D;
    width: 100%;
    height: 265px;
}

.smheader
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #380505;
    width: 100%;
    height: 50px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 0px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    background: #34557D;
    padding: 0px 0px 0px 0px;
    margin: 0px auto;
    height: 125px;
    text-align: center;
    line-height: normal;
}

.footerCopyright
{
    color: #ffffff;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}



/* Application Styles */

.divRow
{
    padding-bottom: 10px;
}

.titleArea
{
    padding-left: 25px;
}

.order-container
{
    width: 980px;
    background-color: #fff; /*  margin: 0px auto 0px auto;*/
}

.tblDescandPrice, .tbltd
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

.trDescAndPrice
{
    border: 1px;
}

.pnlAltSearch
{
    display: inline;
}

.rbl input[type="radio"]
{
    margin-left: 35px;
    margin-right: 5px;
}

.cbl input[type="checkbox"]
{
    margin-left: 10px;
    margin-right: 1px;
}

.itemCellPad
{
    padding-right: 15px !important;
}

.dField
{
    width: 410px;
}


.divPrintInfo
{
    visibility: collapse;
}

@media print
{
    .dField
    {
        border: 0px;
    }
}

@media print
{
    
    .chkPrnt
    {
        
       font-size: 14px; 
    }
    
    .dField2
    {
        border: 0px;
        font-size: 14px;
    }

    .dField3
    {
        border: 0px;
        text-decoration: underline;
        font-size: 14px;
    }

    .divPrintLegal2
    {
    }

    .divPrintLegal
    {
        font-size: 12px;
        width: 97%;/*Burton Solution Addition*/
    }

    .cusInfoPrint
    {
        font-size: 15px;
    }
    
      .dField4
    {
        border: 0px;
        font-size: 14px;
        text-align:center;
    }
    
    .prntTitle
    {
      font-size:18px;   
        
    }


}


@media print
{
    .divNoPrint
    {
        visibility: hidden !important;
    }
}

@media print
{
    .header
    {
        display: none !important;
    }

    .panel
    {
        border: 0px;
        height: auto;
    }

    .panel-primary
    {
        border: 0px;
        height: auto;
    }

    .panel-body
    {
        border: 0px;
        height: auto;
    }
}


@page
{
    size: auto; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
}

html
{
    background-color: #FFFFFF;
    margin: 0px; /* this affects the margin on the html before sending to printer */
}

body
{
    margin: 0mm 0mm 0mm 0mm; /* margin you want for the content */
}


/*---------------Burton Solution Code Additions---------------*/
@media print
{
  .small-top2{
    margin-top: -34%;
  }
}
