.order-background{
  background-color: #e9ecef;
}
.progress__container {
  width: 55rem;
  max-width: 100%;
  position: relative;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
.progress__container::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #ced6d5;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.progress__bar {
  width: 0%;
  height: 0.2rem;
  background-color: #00bfa6;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}
.progress__circle {
  width: 7rem;
  height: 7rem;
  color: #2f2e41;
  background-color: #ced6d5;
  border: 0.2rem solid #ced6d5;
  border-radius: 50%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  transition: 0.4s ease;
}
.progress__circle.active {
  color: #00bfa6;
  border: 0.2rem solid #00bfa6;
  background-color: #2f2e41;
  box-shadow: #2f2e41 0px 0px 0px 10px, #00bfa6 0px 0px 10px 12px;
}