<div id="footer_bar" style="text-align: center; color: #777;">
  <br>
   <p>
     All Rights Reserved &copy;2017-2021 <a href="http://marketforceapp.com" target="_blank" style="color:white;">Market Force</a><br>
     Developed by <a href="//ignition-innovations.com" target="_blank" style="color:white;font-family:Rock Salt;">Ignition Innovations</a><br>
     <i class="fa fa-code-fork"></i> Version 
     <?php
      $vq = "SELECT * FROM `version_control` ORDER BY `ID` DESC LIMIT 1";
      $vg = mysqli_query($mf_conn, $vq) or die($mf_conn->error);
      $vr = mysqli_fetch_array($vg);
      $version = $vr['release'] . '.' . $vr['update'] . '.' . $vr['patch'];
      echo $version;
     ?>
   </p>
  </div>

<script src="global/chrome-detection.js"></script>
<!--JQuery Files-->
<script src="jquery/external/jquery/jquery.js"></script>
<script src="jquery/jquery-ui.js"></script>

<!--JS Code for ALL pages to access-->
<script src="js/mask/jquery.mask.js"></script>
<script>
  function disp_inv_calc(){
    var total_inv = document.getElementById('display_inv_total').value;
		var total_inv = total_inv.replace(/,/g,'');
    var ftot = total_inv / .225;
    document.getElementById('s_target').innerHTML = '$'+ftot.toFixed(2);
  }
	
	$(document).ready(function(){
  	//$('.date').mask('00/00/0000');
    $('.number').mask('000,000', {reverse: true});
  	$('.time').mask('00:00:00');
  	$('.phone').mask('(000) 000-0000');
  	$('.phone_us').mask('(000) 000-0000');
  	$('.usd').mask('000,000,000,000,000.00', {reverse: true});
		$( ".date" ).datepicker();
  });
	
	/*$( function() {
    $( ".datepicker" ).datepicker();
  } );*/
</script>
<script>
	function newTask(){
		var rep_id = '<?php echo $_SESSION['user_id']; ?>';
		var rep_name = '<?php echo $_SESSION['full_name']; ?>';
		var task = document.getElementById('task_details').value;
		if(task === ''){
			document.getElementById('task_error').innerHTML = 'Please Enter The Task Details!';
			return;
		}
		task = encodeURL(task);
		var auser_id = document.getElementById('taskAssignee').value;
		if(auser_id === ''){
			document.getElementById('task_error').innerHTML = 'Please Select The Assignee!';
			return;
		}
		auser_id = encodeURL(auser_id);
		var dl = document.getElementById('task_deadline').value;
		if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
			//alert(this.responseText);
			<?php
			if($_SERVER['PHP_SELF'] == '/marketforce/index.php'){
      	echo 'window.location.reload();';
			}else{
				echo 'document.getElementById("modal-closer").click();';
				echo 'alert(this.responseText);';
			}
			?>
    }
  }
  xmlhttp.open("GET","tasks/add-task.php?rep_id="+rep_id+"&rep_name="+rep_name+"&task="+task+"&auser_id="+auser_id+"&dl="+dl,true);
  xmlhttp.send();
	}
	
	function clear_newTask_modal(){
		document.getElementById('task_details').value = '';
		document.getElementById('taskAssignee').value = '';
		document.getElementById('task_deadline').value = '';
		document.getElementById('task_error').innerHTML = '';
	}
	
		function encodeURL(url){
		url = url.replace(/&/g, '%26'); 
		url = url.replace(/#/g, '%23');
		return url;
	}
</script>

  <!--  //SESSION TIMEOUT SCRIPT...  -->
  <script>
    function refresh_session(){
      window.location.reload();
    }
    
    (function() {
      var time = <?php echo $lifetime; ?> * 1000;
      var triggered = false;
      setInterval(function(){
        time = time - 1000;
        //alert(time);
        var milliseconds = parseInt((time % 1000) / 100);
        var seconds = parseInt((time / 1000) % 60);
        var minutes = parseInt((time / (1000 * 60)) % 60);
        var hours = parseInt((time / (1000 * 60 * 60)) % 24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

         
        document.getElementById('timerText').innerHTML = hours + ":" + minutes + ":" + seconds;
        if(time < 120000 && triggered === false){
          //alert('Time Out');
          exitOK = true;
          triggered = true;
          document.getElementById('timeoutModalBTN').click();
        }
        if(time < 1000){
          exitOK = true;
          window.location = "http://<?php echo $_SERVER['HTTP_HOST']; ?>/index.php?logout=y";
        }
      }, 1000);
      
    }) ();
  </script>




<!-- END ALL JS Code-->





<!--Modals for ALL Pages to access-->

	 <!-- Modal -->
  <div class="modal fade" id="dealerCalc" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="fa fa-calculator fa-fw" style="color:red;"></i> Calculate Dealer Profitability Target</h4>
        </div>
        <div class="modal-body">
          <p>Please Enter Total Display Investment</p>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">$</span>
            <input type="text" id="display_inv_total" class="form-control usd" placeholder="0.00" aria-describedby="basic-addon1" onkeyup="disp_inv_calc();">
          </div>
          <br><br>
          <p><b>Dealer Sales Target To Be Profitable:</b> <span style="color:red;font-weight:bold;" id="s_target"></span></p>
        </div>
        <div class="modal-footer">
					<!--<button type="button" class="btn btn-success" onclick="">Submit</button>-->
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	<!-- End Modal -->


  		 <!-- Modal -->
  <div class="modal fade" id="newTask" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" id="modal-closer" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">New Task:</h4>
        </div>
        <div class="modal-body">
					<div class="row">
					<div class="col-lg-12">
						<p><b>Please Enter Task Details:</b></p>
						<textarea id="task_details" class="form-control"></textarea>
					</div>
					</div>
					<br>
					<div class="row">
					<div class="col-lg-6">
						<p><b>Assign Task To:</b></p>
						<select id="taskAssignee" class="form-control">
							<option value="">Select One</option>
							<?php
								$tq = "SELECT * FROM `users` WHERE `inactive` != 'Yes' ORDER BY `fname` ASC";
								$tg = mysqli_query($conn, $tq) or die($conn->error);
								while($tr = mysqli_fetch_array($tg)){
									echo '<option value="' . $tr['ID'] . '">' . $tr['fname'] . ' ' . $tr['lname'] . '</option>';
								}
							?>
						</select>
					</div>
					<div class="col-lg-6">
						<p><b>Select The Deadline for this task</b></p>
						<input type="text" id="task_deadline" class="form-control date" placeholder="mm/dd/yyyy" />
					</div>
					</div>
					<p style="color:red;font-weight:bold;" id="task_error"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success"  onclick="newTask();">Submit</button>
        </div>
      </div>
      
    </div>
  </div>
	<!-- End Modal -->


	 <!-- Modal -->
  <div class="modal fade" id="phoneLookup" role="dialog">
    <div class="modal-dialog">
			
 <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Phone Number Lookup:</h4>
        </div>
        <div class="modal-body" style="">
					<!--<iframe src="http://freesmsgateway.info/#" style="height:600px;width:100%;"></iframe>-->
					<!--<iframe src="https://www.phonevalidator.com/index.aspx" style="height:600px;width:100%;"></iframe>-->
          <p>
            Service of this application has been temporarily disabled. Please email Mike 
            (<a href="mailto:michael@burtonsolution.com" style="color:red;">michael@burtonsolution.com</a>) if access is needed immediately.
          </p>
        </div>
        <div class="modal-footer">
					<!--<button type="button" class="btn btn-success" onclick="">Submit</button>-->
          <button type="button" class="btn btn-default" onclick="" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	<!-- End Modal -->

<?php include 'security/modals/timeout-modal.php'; ?>
<!--END ALL Modals-->

<!--Security Modal Engagement Button-->
<button type="button" id="timeoutModalBTN" style="visibility:hidden;" data-toggle="modal" data-target="#timeoutModal">Engage Modal</button>
